{{ form_start(delete_form, { 'attr': {
    'id': form_id,
    'data-message-text': 'Are you sure you want to delete the task?'|trans,
    'data-confirm-text': 'Yes, delete the task'|trans,
    'data-cancel-text': 'No'|trans
} }) }}
{{ form_widget(delete_form) }}
    {% if show_button %}
        <button type="button"
                class="btn btn-lg btn-danger btn-block custom-action-button-big task-delete-launch-confimation-info-js"
                title="{% trans %}delete{% endtrans %}">
            <i class="fa fa-trash-o fa-3x"></i>
        </button>
    {% endif %}
{{ form_end(delete_form) }}
