body {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}

.custom-action-button {
    width: 30px !important;
}

.custom-action-buttons-col {
    min-width: 125px !important;
}

.custom-create-edit-user-button {
    margin-top: 20px !important;
}

.custom-form-page-header {
    margin-top: 20px !important;
}

.custom-span-form-error {
    display: inline-block !important;
    margin: 10px 10px 0 0 !important;
    padding: 5px !important;
}

.custom-label-item-count {
    display: inline-block !important;
    margin: 20px 0 !important;
    padding: 5px !important;
}

.custom-actions-table-header {
    color: #337ab8 !important;
}

.custom-text-red {
    color: #d9534f !important;
}

.custom-text-green {
    color: #5bb85c !important;
}

.custom-form-text-help {
    display: inline-block !important;
    width: 100% !important;;
    margin-bottom: 10px !important;
}

.custom-action-button-big {
    height: 100px !important;
}

#under-lds-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(249, 249, 249, 0.8);
    z-index: 100;
    display: none;
}
