<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2018 - {% trans %}Site built by{% endtrans %} Sergio Santiago
            <a href="https://github.com/sergio-santiago/task-assignment" target="_blank" >{% trans %}GitHub Page{% endtrans %}</a>
        </p>
    </div>
</div>
