<div class="container">
    <div id="loading-bar" class="progress" style="display: none">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span>{% trans %}Loading{% endtrans %}...</span>
        </div>
    </div>
</div>
