<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{% trans %}Task Assignment{% endtrans %}</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans %}Users{% endtrans %}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_index') }}">{% trans %}List users{% endtrans %}</a></li>
                        <li><a href="{{ path('user_add') }}">{% trans %}New user{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>
            {% include 'layout_pieces/links_languages.html.twig' %}
        </div>
    </div>
</nav>
